**/__pycache__
**/*cache*
**/.classpath
**/.dockerignore
**/.env
**/.venv
**/.git
**/.github
**/.gitignore
**/charts
**/Dockerfile*
**/tests
**/misc
**/requirements*.txt
**/setup.*
LICENSE
README.md
.pre-commit-config.yaml
